<mat-card>
  <mat-card-header class="mb20 gridheader">
    <mat-card-subtitle>{{ title }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="gradeFormGroup" class="container">
      <div class="row mt20">
        <div class="col-md-6">
          <!-- Grade Code -->
          <mat-form-field>
            <input
              matInput
              [formControl]="gradeFormGroup.controls.gradeCode"
              placeholder="Code"
            />
            <mat-error
              *ngIf="gradeFormGroup.controls.gradeCode.hasError('required')"
            >
              Grade code is
              <strong>required</strong>
            </mat-error>
            <mat-error
              *ngIf="gradeFormGroup.controls.gradeCode.hasError('maxlength')"
            >
              Grade code is
              <strong>3 char long max</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <!-- Grade Name -->
          <mat-form-field>
            <input
              matInput
              [formControl]="gradeFormGroup.controls.gradeName"
              placeholder="Name"
            />
            <mat-error
              *ngIf="gradeFormGroup.controls.gradeName.hasError('required')"
            >
              Grade name is
              <strong>required</strong>
            </mat-error>
            <mat-error
              *ngIf="gradeFormGroup.controls.gradeName.hasError('maxlength')"
            >
              Grade name is
              <strong>45 character max</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row mt50">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-6">
              <div class="text-center">
                <button
                  mat-raised-button
                  #btnSave
                  [color]="btnSaveColor"
                  (click)="submit()"
                  [disabled]="!gradeFormGroup.valid"
                >
                  Finish
                </button>
              </div>
            </div>
            <div class="col-md-6">
              <div class="text-center">
                <button
                  mat-raised-button
                  color="primary"
                  (click)="gotoGradeList()"
                >
                  Cancel
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3"></div>
      </div>
    </form>
  </mat-card-content>
</mat-card>
