<mat-card>
  <mat-card-header class="mb20">
    <mat-card-subtitle>{{ title }}</mat-card-subtitle>
    <button
      style="margin-right:5px;"
      mat-raised-button
      (click)="createHoliday()"
      matTooltip="Create new Holiday"
    >
      Add New +
    </button>
  </mat-card-header>
  <mat-card-content>
    <div class="example-container mat-elevation-z8">
      <table
        mat-table
        [dataSource]="dataSource"
        matSort
        class="example-container mat-elevation-z8"
      >
        <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->

        <!-- Holiday Date Column -->
        <ng-container matColumnDef="hdate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
          <td mat-cell *matCellDef="let holiday; let i = index">
            {{ holiday.HDate | date: "mediumDate" }}
          </td>
        </ng-container>

        <!-- Holiday Column -->
        <ng-container matColumnDef="holiday">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Holiday</th>
          <td mat-cell *matCellDef="let holiday">
            {{ holiday.HOLIDAY }}
          </td>
        </ng-container>

        <!-- Company Code Column -->
        <ng-container matColumnDef="companycode">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Company Code
          </th>
          <td mat-cell *matCellDef="let holiday">
            {{ holiday.COMPANYCODE }}
          </td>
        </ng-container>

        <!-- Department Code Column -->
        <ng-container matColumnDef="departmentcode">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Department Code
          </th>
          <td mat-cell *matCellDef="let holiday">
            {{ holiday.DEPARTMENTCODE }}
          </td>
        </ng-container>

        <!-- Adjustment Date Column -->
        <ng-container matColumnDef="adjustmentDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Adjustment Date
          </th>
          <td mat-cell *matCellDef="let holiday; let i = index">
            {{ holiday.ADJUSTMENTHOLIDAY | date: "mediumDate" }}
          </td>
        </ng-container>

        <!-- Action Column -->

        <ng-container matColumnDef="displayLink">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
          <td mat-cell *matCellDef="let holiday">
            <a style="cursor: pointer;" (click)="openPrompt(holiday)">
              <i class="material-icons">
                delete
              </i>
            </a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns; let i = index"
        ></tr>
      </table>

      <mat-paginator
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
      ></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
