@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* You can add global styles to this file, and also import other style files */
html,
body {
  margin: 0;
  padding: 0;

  height: 100%;
}

.mt5 {
  margin-top: 5px;
}
.mr5 {
  margin-right: 5px;
}
.mb5 {
  margin-bottom: 5px;
}
.ml5 {
  margin-left: 5px;
}

.mt10 {
  margin-top: 10px;
}
.mr10 {
  margin-right: 10px;
}
.mb10 {
  margin-bottom: 10px;
}
.ml10 {
  margin-left: 10px;
}

.mt20 {
  margin-top: 20px;
}
.mr20 {
  margin-right: 20px;
}
.mb20 {
  margin-bottom: 20px;
}
.ml20 {
  margin-left: 20px;
}

.mt50 {
  margin-top: 50px;
}
.mr50 {
  margin-right: 50px;
}
.mb50 {
  margin-bottom: 50px;
}
.ml50 {
  margin-left: 50px;
}

.ra {
  //ra -> required asterix
  color: red;
}

.mat-card-header {
  // justify-content: left;
  font-size: 20px;
}

.jc {
  justify-content: center;
}

mat-card-title {
  justify-content: left;
  font-size: 20px;
}

.mat-card-header .mat-card-title,
.mat-card-subtitle {
  font-size: 20px;
}

mat-label {
  color: #0d69d2;
  font-family: Arial, Helvetica, sans-serif;
}

mat-list-item {
  color: #e83e8c;
}

.mat-sort-header-arrow {
  color: #aaffbe;
}

.material-icons {
  font-size: 20px;
  color: #3f51b5;
}

.mat-card-header {
  justify-content: space-between;
}
